.hero-card {
  background-image: url("/myProfile.jpg");
  height: auto;
  margin-top: 40px;
  margin-bottom: 0;
  width: 100%;
  padding-left: 5px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

.hero-intro {
  color: #36e9bf;
  font-size: 16px;
  margin-bottom: 12px;
}

.hero-title {
  font-size: 30px;
  font-weight: bold;
  /* color: #e6f1ff; */
  color: #ffffff;

  margin: 0;
  font-family: "Poppins", sans-serif !important;
  text-shadow: 0 2px 16px rgba(0, 0, 0, 0.8);
  font-style: italic;
}

.hero-subtitle {
  font-size: 30px;
  font-weight: 600;
  color: #8892b0;

  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

.hero-description {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
  color: #e9afaf;

  margin: 0px;
  padding: 0;
}

/* Button */
.hero-button {
  padding: 12px 20px;
  font-size: 15px;
  border: 1px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
@media (min-width: 423px) {
  .hero-card {
    background-image: none;
  }
  .hero-description {
    color: #0b2d96;
  }
  .hero-description {
    color: #e6f1ff;
  }
}
@media (min-width: 768px) {
  .hero-card {
    min-height: 300px;
  }

  .hero-intro {
    color: #64ffda;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #e6f1ff;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
  }

  .hero-subtitle {
    font-size: 42px;
    font-weight: 600;
    color: #8892b0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
  }

  .hero-description {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.6;
    color: #e6f1ff;
    margin-bottom: 30px;
  }

  /* Button */
  .hero-button {
    padding: 12px 20px;
    font-size: 15px;
    border: 1px solid #64ffda;
    background-color: transparent;
    color: #64ffda;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  .hero-button:hover {
    background-color: rgba(100, 255, 218, 0.1);
  }
}
