.hero-card {
  height: auto;
  margin: 5px 0px;
  width: 100%;
  padding: 0px;
}
.my-profie {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.hero-intro {
  color: #36e9bf;
  font-size: 16px;
  margin: 10px 0px;
}

.hero-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--header-primary);
}

.hero-subtitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0px;
}

.hero-description {
  max-width: 600px;
}

@media (min-width: 423px) {
  .my-profie {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 48px;
  }

  .hero-subtitle {
    font-size: 42px;
  }
  .hero-description {
    font-size: 22px;
  }
}
