.skills-card {
  background-color: #112240;
  border: 1px solid #233554;
  padding: 5px;
  border-radius: 6px;
  margin-top: 20px;
}

.skills-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.skills-title {
  color: #e6f1ff;
  font-size: 22px;
  margin: 0;
}

.skills-number {
  color: #64ffda;
  font-family: monospace;
  font-weight: bold;
  margin-right: 8px;
}

.skills-line {
  flex: 1;
  height: 1px;
  background-color: #233554;
  border: none;
}

.skills-grid {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  overflow-x: scroll;
  scrollbar-gutter: stable;
}

.skills-category-title {
  color: #64ffda;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.skill-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.skill-icon {
  font-size: 18px;
  color: #64ffda;
}

.skill-name {
  color: #e6f1ff;
  font-size: 14px;
}
@media (min-width: 768px) {
  .skills-card {
    background-color: #112240;
    border: 1px solid #233554;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
    width: 100%;
  }

  .skills-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .skills-title {
    color: #e6f1ff;
    font-size: 22px;
    margin: 0;
  }

  .skills-number {
    color: #64ffda;
    font-family: monospace;
    font-weight: bold;
    margin-right: 8px;
  }

  .skills-line {
    flex: 1;
    height: 1px;
    background-color: #233554;
    border: none;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
  }

  .skills-category-title {
    color: #64ffda;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  .skill-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
  }

  .skill-icon {
    font-size: 18px;
    color: #64ffda;
  }

  .skill-name {
    color: #e6f1ff;
    font-size: 14px;
  }
}
