.about-card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0px;
  max-width: 100vw;
  box-sizing: border-box;
}
.about-card-header-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.about-card-body {
}

.section-heading {
  color: #e6f1ff;
  font-size: 25px;
  margin: 0;
}

.about-card-text {
  color: #8892b0;
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
  margin-top: 2;
}
.section-number {
  color: #64ffda;
  font-family: monospace;
  font-weight: bold;
  margin-right: 8px;
}
.hr-line {
  flex-grow: 1;
  height: 2px;
  background-color: #233554;
  border: none;
  margin-left: 20px;
}
.about-card-image {
  display: none;
  width: 262px;
  height: 262px;
  border-radius: 6px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .about-card {
    display: flex;
    flex-direction: column;
    /* background-color: #112240; */
    background-color: transparent;
    /* border: 1px solid #233554; */
    /* border-radius: 6px; */
    padding: 0px;
    width: 800px;
    margin-left: 50px;
    box-sizing: border-box;
  }
  .about-card-header-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .about-card-body {
    display: flex;
    gap: 20px;
  }

  .section-heading {
    color: #e6f1ff;
    font-size: 25px;
    margin: 0;
  }

  .about-card-text {
    color: #8892b0;
    font-size: 22px;
    line-height: 1.5;
    flex: 1;
    margin-top: 2;
  }
  .section-number {
    color: #64ffda;
    font-family: monospace;
    font-weight: bold;
    margin-right: 8px;
  }
  .hr-line {
    flex-grow: 1;
    height: 2px;
    background-color: #233554;
    border: none;
    margin-left: 20px;
  }
  .about-card-image {
    display: block;
    width: 262px;
    height: 262px;
    border-radius: 6px;
    margin-top: 15px;
  }
}
