.about-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.about-card-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.description-wrapper {
  display: flex;
  flex-direction: column;
}
.section-heading {
  color: var(--header-primary);
  margin: 0;
}

.section-number {
  color: #64ffda;
  font-family: monospace;
  font-weight: bold;
  margin-right: 8px;
}

.hr-line {
  flex-grow: 1;
  height: 2px;
  background-color: #233554;
  border: none;
  margin-left: 20px;
}

.about-card-description {
  flex: 1;
  margin-bottom: 12px;
}

.about-card-image {
  display: none;
  width: 262px;
  height: 262px;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .about-card {
    width: 800px;
  }

  .about-card-body {
    display: flex;
    gap: 20px;
  }

  .about-card-description {
    font-size: 22px;
  }

  .about-card-image {
    display: block;
  }
}
