body {
  font-family: Arial, sans-serif;
  background-color: #0a192f;
  color: #e6f1ff;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}
.home {
  max-width: 100vw;
  background-color: #0a192f;
  min-height: 100vh;
  padding-left: 10px;
  /* padding-top: 10px; */
  padding-right: 10px;
  overflow-y: visible;
  overflow-x: hidden;
}

.home-main {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* max-width: 1100px; */
  margin: 0 auto;
  gap: 10px;
}

@media (min-width: 768px) {
  .home-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100vw;
    margin: 0 auto;
    padding: 90px 16px 40px;
  }
  .home-section {
    margin-bottom: 24px;
  }
}

/* Spacing between cards */
