.home-page-layout {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #0a192f;
  padding: 0 10px;
  overflow-x: hidden;
}

.home-sectins-wrapper {
  width: 100%;
  margin-top: 85px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 768px) {
  .home-sectins-wrapper {
    max-width: 1100px;
    padding: 90px 16px 40px;
    margin: 0px 24px;
  }

  .home-section {
    margin-bottom: 24px;
  }
}
