.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding: 0 30px;
  background-color: #0a192f;
  border-bottom: 1px solid #112240;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.header-title {
  color: #64ffda;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header-nav {
  display: flex;
  gap: 22px;
}

.header-nav button {
  background: none;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ccd6f6;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  font-family: monospace;
  font-weight: 500;
}

.header-nav button:hover {
  color: #64ffda;
  /* transform: translateY(-2px); */
}

.header-nav button::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #64ffda;
  transition: width 0.3s ease;
  margin: auto;
}

.header-nav button:hover::after {
  width: 100%;
}
.resume-btn {
  padding: 5px 8px; /* button size */
  /* border: 1px solid #64ffda; */
  /* border-radius: 4px; */
  background: transparent;
  color: #64ffda;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex; /* keeps it aligned */
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.resume-btn:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.social-link-icons {
  font-size: 50px;
  color: #ccd6f6;
  margin-left: 15px;
  transition: color 0.3s;
}
.social-link-icons:hover {
  color: #64ffda;
}
